<section class="downloads">
  <h1>Downloads</h1>
  <div class="downloads-list">
    <div class="download-card" *ngFor="let f of files">
      <div class="file-icon">
        <span class="material-icons">description</span>
      </div>
      <div class="file-info">
        <div class="file-name">{{ f.name }}</div>
        <div class="file-meta">{{ f.link | fileType }}</div>
      </div>
      <a class="download-btn" [href]="f.link" download>
        <span class="material-icons">download</span>
        Download
      </a>
    </div>
  </div>
</section>
